.spaceshipWindow {
    width: 630px;
    height: 470px;
    z-index: 200;
    /* border: 10px solid lightgray;
    border-radius: 150px; */
    position: absolute;
    top: 4px;
    left: 4px;
}

.textRow {
    z-index: 5;
    position: absolute;
    top: 90%;
    color: white;
    /* border: 1px solid gray; */
    width: 100%;
    display: flex;
    justify-content: space-between;
} 

.thrustInfo {
    z-index: 5;
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

.selectedItem {
    z-index: 5;
    font-size: 17px;
    color: white;
} 

.rocketCooldown {
    z-index: 5;
    font-size: 20px;
    color: white;
    margin-right: 10px;
} 

.winScreen {
    z-index: 5;
    position: absolute;
    top: 40%;
    color: white;
    /* border: 1px solid gray; */
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
} 

.gameDescription {
    position: absolute;
    top: 100%;
    left: 20%;
    border: 1px solid gray;
    width: 60%;
    display: flex;
    justify-content: center;
    font-size: 20px;
} 

.topRow {
    z-index: 5;
    position: absolute;
    top: 2%;
    color: white;
    /* border: 1px solid gray; */
    width: 100%;
    display: flex;
    justify-content: space-between;
} 

.time {
    z-index: 5;
    font-size: 20px;
    color: white;
    margin-left: 10px;
}
